/* Google Fonts: combine families in one import (or use <link> in HTML) */
@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Pixelify+Sans:wght@400..700&display=swap');

body {
    text-align: center;
    font-family: 'Instrument Serif', serif;

    background-image: url("../images/star.png"), url("../images/star.png");
    background-repeat: no-repeat, no-repeat;
    background-size: auto, auto;
    background-position: 33% 33%, 64% 66%;
    background-attachment: fixed;
}

/* HEADING CSS */

/* Make ul horizontal */
#menu ul {
    list-style: none;
    display: flex;
    /* horizontal layout */
    padding: 0;
    margin: 0;
    justify-content: center;
    /* center horizontally */
    align-items: center;
    gap: 20px;
    /* space between menu items */
}

#cat {
    width: 30px;
    /* adjust icon size */
    height: 30px;
    cursor: pointer;
    transition: transform 0.2s;
}

/* Style images */
.nav-icon {
    width: 25px;
    /* adjust icon size */
    height: 25px;
    cursor: pointer;
    transition: transform 0.2s;
}

/* HEADING CSS */

#backButton {
    padding: 10px 20px;
    font-family: "Pixelify Sans";
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #e5e5e5;
    border-radius: 999px;
    background-color: lavenderblush
}